<br>

<h1>{{ titulo }}</h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="peliculas">

  <div class="col-sm-6">
    <div class="row">
      <app-poster class="puntero" [pelicula]="peliculas[0]" style="width: 100%">
      </app-poster>
    </div>

    <div class="row">
      <app-poster  *ngFor="let item of peliculas|slice:1:3" class="puntero" [pelicula]="item" style="width: 50%">
      </app-poster>
    </div>

  </div>

  <div class="col-sm-6">
    <div class="row">
      <app-poster style="width: 50%"  *ngFor="let item of peliculas|slice:3:5" class="puntero" [pelicula]="item" principal="false">
      </app-poster>
    </div>

    <div class="row">
      <app-poster style="width: 100%"  class="puntero" [pelicula]="peliculas[5]" principal="true">
      </app-poster>
    </div>

  </div>

</div>
